html {
    font-size: 62.5%;   /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    /* Define o tamanho de fonte padrão: 16px*/
    font-size: 1.6rem;
}


/*  ------------------------
            CONTENT
    ------------------------ */
header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content {
    width: 100%;
    max-width: 1155px;
    /* background-color: gray; */
}


/*  ------------------------
            CABEÇALHO
    ------------------------ */
header section.content {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px 38px 0px;

    border-bottom: 1px solid #EFEEF3;
}
header section.content a {
    color: #16133D;
}

/* LOGO */
.logo a{
    font: 500 35px 'Quicksand', sans-serif;
}
.logo img {
    margin: 0px 10px 0px 0px;
}

/* NAV site */
header section.content nav {
    display: flex;
    height: 100%;
    align-items: center;
}
header section.content nav ul {
    display: flex;
}
header section.content nav ul li {
    margin: 0px 0px 0px 50px;
}
header section.content nav ul li:first-child {
    margin: 0px 0px 0px 0px;
}
header section.content nav ul li a {
    font-weight: 500;
}
header section.content nav ul li a:hover {
    color: #2b285f;
}

/* NAV Registro/Login */
header section.content nav:last-child ul li {
    margin: 0px 0px 0px 20px;
}
header section.content nav:last-child ul li a {
    display: block;
    padding: 10px 40px;
    border: 2px solid #16133D;
    border-radius: 8px;
}
header section.content nav:last-child ul li a:hover {
    border: 2px solid #2b285f;
}
header section.content nav:last-child ul li:last-child a {
    background: #16133D;
    color: white;
}
header section.content nav:last-child ul li:last-child a:hover {
    background: #2b285f;
}

/*  ------------------------
            BANNER
    ------------------------ */
main section.banner {
    margin: 60px 0 0 0;
    display: grid;
    grid-template-columns: 1fr minmax(575px, 1fr);

}
/* Texto */
main section.banner div.text-banner {
    padding: 0 100px 0 0;
    color: #16133D;
}
main section.banner div.text-banner h2 {
    font: 600 56px/68px 'Nunito Sans', sans-serif;
}
main section.banner div.text-banner p {
    color: #183B56;
    font: 19px/36px 'Roboto', sans-serif;
}

/* Botões */
main section.banner div.text-banner a {
    display: inline-block;
    width: 180px;
    padding: 14px 0px 14px 0px;
    margin: 20px 0px 0px 0px;
    
    text-align: center;

    background: #007FFC;
    border: 2px solid #007FFC;
    border-radius: 8px;
    color: #FFFFFF;
}
main section.banner div.text-banner a:last-child {
    background: #FFFFFF;
    color: #007FFC;
    margin: 0px 0px 0px 15px;
}
main section.banner div.text-banner a:hover {
    border: 2px solid #4fa4fa;
    background: #4fa4fa;
}
main section.banner div.text-banner a:last-child:hover {
    background: #FFFFFF;
    color: #4fa4fa;
}

/* Imagem */
main section.banner div.img-banner img {
    width: 100%;
    border-radius: 8px;
}

/*  ------------------------
        DEFAULT SECTIONS
    ------------------------ */
main section.default-section {
    margin: 60px 0px 60px 0px;
}

main section.default-section h2 {
    font: 600 40px/52px "Nunito Sans", sans-serif;
    color: #16133D;
    margin: 17px 0px 0px 0px;
}

main section.default-section > p {
    font: 400 18px/28px 'Roboto', sans-serif;
    color: #7690A8;
}

main section.default-section p:first-child {
    font-size: 16px;
    line-height: 21px;
}

main section.default-section ul {
    display: grid;
    grid-auto-flow: column;

    margin: 60px 0px 0px 0px;
}

/*  ------------------------
        OUR SERVICES
    ------------------------ */
main section.default-section ul.services li {
    border: 1px solid #E5EAF4;
    border-radius: 8px;

    padding: 45px;
}

main section.default-section ul.services li:nth-child(2) {
    margin: 0px 39px;
}

main section.default-section ul.services li h3 {
    font: 400 24px/21px 'Roboto', sans-serif;
    color: #16133D;

    margin: 42px 0px 0px 0px;
}
    

main section.default-section ul.services li p {
    font: 400 16px/28px'Roboto', sans-serif;
    color: #16133D;
    
    padding: 14px 0px 29px 0px;
}

main section.default-section ul.services li a {
    font: 400 16px/18px'Roboto', sans-serif;
    color: #16133D;
}

/*  ------------------------
        OUR SERVICES
    ------------------------ */
main section.default-section ul.features li {
    border-radius: 8px;
    overflow: hidden;

    padding: 50px;
    height: 350px;

    display: flex;
    align-items: flex-end;
}
main section.default-section ul.features li:first-child {
    margin: 0px 50px 0px 0px;
}

main section.default-section ul.features li a {
    font: 400 36px/48px 'Roboto', sans-serif;
    color: #ffffff;
}

main section.default-section ul.features li:first-child {
    background: url(../img/feature-tablet.png) no-repeat;
}

main section.default-section ul.features li:last-child {
    background: url(../img/feature-vr.png) no-repeat;
}